



<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/img/nature.jpg);">
        <div class="container position-relative">
            <h1>About Us</h1>
            <p>Learn More About Haven Club & Resorts.</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- About Section -->
    <section id="about" class="about section" style="background-image: url(/assets/img/about_back.jpg)">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/assets/img/aboutUs.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                </div>

                <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100" style="font-weight: bold;">
                    <h3>About Us</h3>
                    <p>
                        We are India's premier travel agency, specializing in budget-friendly family vacations to both domestic and international destinations
                    </p>
                    <ul>
                        <li>
                            @* <i class="bi bi-house"></i> *@
                            <div>
                                <h5>Who We Are</h5>
                                <p>Haven Club & Resorts, launched in 2022, is transforming the travel landscape with its focus on customer satisfaction, delivering exceptional leisure, recreation, and hospitality services. Guided by our motto, "Time to explore the world!", we are committed to crafting unforgettable experiences for our clients and raising the bar in the industry</p>
                            </div>
                        </li>
                        <li>
                            @*  <i class="bi bi-fullscreen-exit"></i> *@
                            <div>
                                <h5>What We Do</h5>
                                <p>At Haven Club & Resorts, we present a wide array of domestic and international destinations for our customers to explore. Our resort offerings range from breathtaking mountain retreats to peaceful coastal getaways, and from captivating desert landscapes to serene backwaters. Recognizing the significance of value in today’s economy, we strive to provide packages that offer outstanding value for money, ensuring our customers enjoy the best possible holiday experiences</p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

        </div>

    </section>





    <!-- /About Section -->
    <!-- Stats Section -->
    @*    <section id="stats" class="stats section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Clients</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Projects</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Hours Of Support</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Workers</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section> *@<!-- /Stats Section -->
    <!-- Team Section -->
    <!-- Faq Section -->









    <section id="featured-services" class="featured-services section">
        <div class="container section-title" data-aos="fade-up">
            <span>Our Services<br></span>
            <h2>Our ServiceS</h2>
            <p style="font-weight: bold;">What Haven Club And Resort Provide</p>
        </div>
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-hotel fa-bounce" style="color: #FFD43B;"></i></div>
                    <div>
                        <h4 class="title">Hotel Booking</h4>
                        <p class="description" style="font-weight: bold;">Haven Club and Resort provides affordable luxury accommodations, featuring high-quality amenities and services at a more accessible price point than traditional luxury hotels</p>

                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200" style="font-weight: bold;">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-plane fa-bounce" style="color: #FFD43B;"></i></div>
                    <div>
                        <h4 class="title">Reasonable Flight</h4>
                        <p class="description" style="font-weight: bold;">We deliver remarkable savings on flights, whether you're traveling nationally or internationally.</p>

                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon flex-shrink-0"><i class="fa-solid fa-globe fa-bounce" style="color: #FFD43B;"></i></div>
                    <div>
                        <h4 class="title">Online Booking Services</h4>
                        <p class="description" style="font-weight: bold;">Extraordinary deals at Haven  Club & Resorts flights, hotels, holiday packages</p>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- End Service Item -->









    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 position-relative align-self-start  order-lg-first order-first" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/assets/img/travel2.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                </div>

                <div class="col-lg-6 content order-last order-lg-last  " data-aos="fade-up" data-aos-delay="100">
                    <h3> Our Experties</h3>
                    <p>
                        We are India's premier travel agency, specializing in budget-friendly family vacations to both domestic and international destinations
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-person"></i>
                            <div>
                                <h5>Expertise and Experience</h5>
                                <p> With years of experience in the travel industry, our knowledgeable team is dedicated to providing you with the best travel experiences tailored to your preferences.</p>
                            </div>
                        </li>
                        <li>
                            <i class="bi bi-geo-alt"></i>
                            <div>
                                <h5>Local Insights</h5>
                                <p>Our experts have firsthand experience and connections in various destinations, ensuring you receive authentic recommendations and We stay informed about the latest travel trends, safety guidelines, and hidden gems to enhance your travel experience. /p>
                            </div>
                        </li>
                        <li>
                            <i class="bi bi-currency-dollar"></i>
                            <div>
                                <h5>Competitive Pricing</h5>
                                <p>We offer competitive rates and exclusive deals, allowing you to enjoy exceptional travel experiences without breaking the bank.</p>
                            </div>
                        </li>

                        <li>
                            <i class="bi bi-emoji-smile"></i>
                            <div>
                                <h5>Customer-Centric Approach</h5>
                                <p>Your satisfaction is our top priority. Our dedicated customer support team is available to assist you at every step of your journey, ensuring a smooth and enjoyable experience.</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </section>




    <section id="features" class="features section" style="background-image: url(/assets/img/Mission_vission.jpg);">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <span>Moto & Vision</span>
            <h2>Our Moto And Vision</h2>

        </div><!-- End Section Title -->


        <div class="container">

            <div class="row gy-0 align-items-center features-item">
                <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <img src="~/assets/img/mission.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="100" style="background-color: white;">
                    <h3 style="text-align: center;">Our Mission</h3>
                    <br />
                    <p class="fst-italic" style="font-weight: bold;">
                        Our mission is to cultivate a community of joyful and fulfilled travelers by offering expertly crafted Holiday Memberships that prioritize personalized experiences. We believe that every journey should be memorable, and we are dedicated to providing the perfect blend of professional planning and a personal touch to ensure our members enjoy seamless and enriching adventures
                    </p>

                </div>
            </div><!-- Features Item -->

            <div class="row gy-4 align-items-center features-item">
                <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/assets/img/vission.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200" style="background-color: white;">
                    <h3 style="text-align: center;">Our Vision</h3>
                    <br />
                    <p class="fst-italic" style="font-weight: bold;">
                        Our aspiration is to become India’s most respected Travel Management Company, fostering a vibrant community of adventurous travelers from all walks of life. We aim to connect individuals who share a love for exploration, creating a family of versatile globetrotters united by their passion for discovering the beauty and diversity of our incredible country. Together, we will redefine travel experiences, making every journey memorable and enriching
                    </p>

                </div>
            </div><!-- Features Item -->




        </div>

    </section>
</main>





<!-- Scroll Top -->
<!-- Travel Associates Section -->
<section class="py-5 bg-light">
    <div class="container text-center">
        <h4 class="text-warning fw-bold fst-italic">Associates</h4>
        <h2 class="fw-bold">Our Travel Associates</h2>
        <div class="logo-slider mt-5">
            <marquee behavior="scroll" direction="left" scrollamount="8" class="haed-marcue mt-5">
                <img src="~/assets/img/trip.webp" alt="MakeMyTrip" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Trivago" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="GoIbibo" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Booking.com" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="AGO" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="MakeMyTrip" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Trivago" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="GoIbibo" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Booking.com" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="AGO" class="associate-logo">
            </marquee>
        </div>
    </div>
</section>





<!-- Scroll Top -->
<!-- Travel Partners Section -->
<section class="py-5 bg-light">
    <div class="container text-center">
        <h4 class="text-warning fw-bold fst-italic">Partners</h4>
        <h2 class="fw-bold">Our Preferred Partner</h2>

        <div class="logo-slider mt-5">
            <marquee behavior="scroll" direction="left" scrollamount="8" class="haed-marcue mt-5">
                <img src="~/assets/img/vission.jpg" alt="MakeMyTrip" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Trivago" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="GoIbibo" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Booking.com" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="AGO" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="MakeMyTrip" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Trivago" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="GoIbibo" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="Booking.com" class="associate-logo">
                <img src="~/assets/img/vission.jpg" alt="AGO" class="associate-logo">
            </marquee>
        </div>
    </div>
</section>


<style>
    .associate-logo {
        height: 110px;
        margin:0 , 40px;
        object-fit: contain;
        filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.1)); 
        transition: transform 0.3s ease;
    }

        .associate-logo:hover {
            transform: scale(1.1); 
        }
</style>
