<div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/img/member.jpg);">
    <div class="container position-relative">
        <h1>Membership Plans</h1>
        <p>Unlock Exclusive Adventures and Unbeatable Savingslestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Pricing</li>
            </ol>
        </nav>
    </div>
</div>



<section id="pricing" class="pricing section">

     <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <span>Top Plans</span>
        <h2>Top Plans</h2>
        <h1>Holiday Membership Plans</h1>
    </div>

<div class="container">

    <div class="row gy-4">

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-card card-orange ">
                    <div class="card-body text-center p-5 position-relative">
                        @* <span class="popular-badge">Most Popular</span> *@
                        <h3 class="mb-4 text-white">Orange Membership</h3>
                        <div class="price mb-4">₹300000<small>/yr</small></div>
                        <ul class="feature-list mb-4">
                            <li>India + Asia + Europe</li>
                            <li>6N/7D  Yearly</li>
                            <li>Only Accomodations</li>
                            <li>Only 4  & 5 Star Properties</li>
                            <li>
                                Per Year AMC Charge
                                5999
                            </li>
                        </ul>
                       <button type="button" class="btn  btn-lg btn-outline-secondary">Subscribe</button>
                    </div>
                </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-card card-green ">
                    <div class="card-body text-center p-5 position-relative">
                        @* <span class="popular-badge">Most Popular</span> *@
                        <h3 class="mb-4 text-white">Green Membership</h3>
                        <div class="price mb-4">₹1,25,000<small>/yr</small></div>
                        <ul class="feature-list mb-4">
                            <li>India + Asia </li>
                            <li>6N/7D  Yearly</li>
                            <li>Only Accomodations</li>
                            <li>Only 4  & 5 Star Properties</li>
                            <li>
                                Per Year AMC Charge
                                6999
                            </li>
                        </ul>
                        <button type="button" class="btn  btn-lg btn-outline-secondary">Subscribe</button>
                    </div>
                </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="pricing-card card-blue ">
                    <div class="card-body text-center p-5 position-relative">
                        @* <span class="popular-badge">Most Popular</span> *@
                        <h3 class="mb-4 text-white">Blue Membership</h3>
                        <div class="price mb-4">₹75,000<small>/yr</small></div>
                        <ul class="feature-list mb-4">
                            <li>India  </li>
                            <li>6N/7D  Yearly</li>
                            <li>Only Accomodations</li>
                            <li>Only 4  & 5 Star Properties</li>
                            <li>
                                Per Year AMC Charge
                                8333
                            </li>
                        </ul>
                        <button type="button" class="btn  btn-lg btn-outline-secondary">Subscribe</button>
                    </div>
                </div>
        </div><!-- End Pricing Item -->

    </div>

</div>

    </section>





